<!doctype html>
<html>
<head>
  <title>flashBack</title>

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plaster">
  <link rel="manifest" href="/manifest.json"> <!-- configures client -->

  <meta name="theme-color" content="#db5945">
  <meta name="viewport" content="width=device-width,initial-scale=1">

<!-- consider declaring service worker here -->

  <!-- iOS homescreen notes -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="flashback">
  <link rel="apple-touch-icon" href="../assets/flashback-152.png">
  
  <!-- Android homescreen notes -->
  <meta name="msapplication-TileImage" content="../assets/flashback-144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">

  <!-- <script src="../service-worker.js"></script> -->

  <style>
    body { 
      padding-top:50px;
      font-family: 'Plaster', cursive;
      font-size: 3em;
    }
    .row {
      padding: 2%;
    }
  </style>
</head>
<body>
<div class="container">