<% include head.ejs%>

    <div id='root' ></div>

    <p  id="userID" hidden><%= user? user.id: '' %></p>

    <p id="latitude" hidden></p>
    <p id="longitude" hidden></p>

    <script src="/dist/bundle.js"></script>

<% include foot.ejs%>