a {
  color: black;
  text-decoration: none !important;
}

a:hover {
  color: black;
}

/* NAVIGATION TOP AND BOTTOM SECTION */
.flashback-title {
  font-family: 'Kaushan Script', cursive;
  font-size: 2em;
}

.navbar-default {
  min-height: 40px;
}

.glyphicon {
  font-size: 1.8em;
}

.floatCenter {
  text-align: center;
  margin: 0;
}

.floatRight {
  float: right;
  margin: 7px 10px 0 0;
  width: 100%;
}

.floatLeft {
  float: left;
  margin: 7px 0 0 10px;
}

.justify-content {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  padding: 0;
  width: 100%;
}

.button-opacity {
  opacity: 0.5;
}
/* ----------------------------------- */

/* NEARBY COMPONENT */
.nearbyComponent {
  margin: 50px 0;
  width: 100%;
}

.img-rounded {
  font-size: 16px;
  padding: 0;
}

.h4-heading {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
/* ----------------------------------- */

/* NEARBY PHOTOCARD COMPONENT */
.img-thumbnail {
  padding: 0px;
}

.fb-icon {
  float: right;
  border-radius: 50%;
  height:30px;
  width:30px;
  margin-right:10px;
}

/* LIKE CAPTION COMMENT DIV FROM PHOTOCARD SECTION */
.likeCaptionComment {
  padding: 15px 15px 30px;
}
/* ----------------------------------- */

/* LIKE HEART SECTION */
.heart {
  margin: 0 8px 0 0;
}

.fa-heart {
  color: red;
}

.glyphicon-heart-empty {
  margin-top: -4px;
}

.likes-heart{
  opacity: 0;
  transition: all 0.5s;
  transform : translateX(-25%) translateY(-25%) scale(1.8);
  display : block;
  margin-left: 8%;
  position: relative;
  z-index: 1;
}
 
.like-enter{
  transition: all .2s;
  opacity: 1;  
  position: relative;
  z-index: 1;
}
 
.like-enter-active{
  transform : translateX(-25%) translateY(-25%) scale(1.8);
  position: relative;
  z-index: 1;
}
 
.like-leave-active{
  display: none;
  position: relative;
  z-index: 1;
}
/* ----------------------------------- */

/* LIKE COUNT SECTION */
.likeDiv {
  display: inline-block;
  position: absolute;
}

.likes {
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: left;
}

.photo-caption {
  display: block;
  font-size: 16px;
  text-align: left;
  margin: 5px auto;
  margin-top:10px;
}

/* ----------------------------------- */

/* DATE AND TIME DIV */
.dateAndTime {
  position: absolute;
  margin: 2% 0 0 2.5%;
  color: white;
  z-index: 100;
  background-color: rgba(0,0,0,.5);
  padding: 1.5%;
  border-radius: 10px;
  font-size: 0.9em;
}
/* ----------------------------------- */

/* COMMENT DIV SECTION */
.commentDiv {
  display: block;
  width: 50px;
}

.commentCount {
  margin-right: 5px;
}

.comments-Ul {
  padding: 0;
  margin: 50px 10px;
}

.comments-li {
  list-style-type: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: -6px;
  padding: 6px;
  margin: 10px 0;
}

.comments-profile {
  font-size: 14px;
  margin: 0 15px 0 5px;
  font-weight: bold;
}

.comments-text {
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 13px;
  position: absolute;
}

.comments-form {
  position: fixed;
  bottom: 0;
}

.input-lg:focus {
  outline: none;
}

.comments-icon {
  border-radius: 50%;
  width:30px;
  height: 30px;
  margin-bottom: 6px;
}

.comment-combined {
  font-size: 14px;
  margin: 12px;
  margin-top: 13px;
}

/* ----------------------------------- */

/* PROFILE INSIDE PHOTOCARD SECTION */
.profile {
  float: right;
  font-size: 14px;
  margin-top:4px;
}

/* PREVIEW AND SHARE COMPONENT */
.preview-share-comp {
  width: 100%;
  height: 550px;
}
.preview-div {
  margin-top: 50px;
  text-align: center;
  height: 400px;
  width: auto;
}
 
 .preview-image {
  max-height: 400px;
  max-width: 100%;
}  

.preview-share-ul {
  list-style-type: none;
  margin-top: 10px;
/*  padding: 0;
*/  font-size: .8em;
  padding-top: 10px;
  padding-left: 20px;
}

.preview-share-ul li {
  margin-left: 10px;
}

.preview-share-ul span {
  margin-left: 10px;
}

.btn-primary {
  margin: 0 3px;
}

/* ----------------------------------- */

/* GOOGLE MAP SECTION */
.google-map {
  margin: 50px 0;
}

.google-thumbnail {
  border: 2px solid white;
  padding: 5px;
  background-color: #8B74FC;
  color: white;
  font-size: 1.5em;
}

.show-image-div {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 25%;
  border: 5px solid black;
}

.mapPhotoCard-container {
  margin: 13% 0 0;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.photoCard-div {
  display: inline;
}

.mapPhotoCard {
  width: 50%;
  padding: 1px;
  background-color: black;
}

.blurPhoto {
  opacity: 0.5;
}

.photoCard-in-googleMap {
  position: fixed !important;
  top: 15% !important;
}

/* CHAT AND ROOMS COMPONENT */
.messageBox {
  margin-top: 50px;
}

.roomsBox {
  margin: 50px 0;
}

/* ----------------------------------- */
/*delete Comment*/
.deleteComments {
  position: absolute;
  left: 300px;
  top: -8px;
}

/* ----------------------------------- */

/* PROFILE SECTION */
.profile-component {
  font-size: 2em;
}

.profile-profile {
  font-size: 14px; 
  margin: 20% 0 10%; 
}

.round {
  overflow: hidden;
  min-height: 7em;
  height: 7em;
  width: 7em;
  min-width: 7em;
  border: 1px solid rgba(46, 46, 46, 0.1);
  border-radius: 50em;
  margin: 10px auto;
}

.profilePic {
  border-radius: 50em;
  min-height: 7em;
  height: 7em;
  width: 7em;
  min-width: 7em;
  margin: -1px;
  padding: 8px;
  z-index: 100;
  
}

.btn-xs {
  border-color: #817FFD;
  background-color: #817FFD;
  width: 20%;
}

.followDataContainer {
  width: 100%;
  height: auto;
  margin: 10px auto; 
  clear: both;
  font-size: .6em;
}

.col-xs-4{
  margin: 0 auto;
}

.letters {
  color: grey;
  font-weight: lighter;
}

.num {
  font-weight: bold;
  font-size: 1em;   
}

.profileMap {
  height: 450px;
  width: 100%;
 /* margin: 20% auto;*/
  margin-top: 30%;
  margin-bottom: 0px;
}

.profileMapPhoto {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
/*------------------------------*/

/* CHAT COMPONENT  */

.chat-component {
  /* margin: 50px 0; */
}

.chatting-Ul {
  list-style-type: none;
  display: inline-grid;
  width: 100%;
  padding: 0 25px;
  margin: 50px 0;
}

/* .chatting-li {
  border-bottom: 1px solid grey;
} */

.chatting-li-left {
  float: left;
}

.chatting-li-right {
  float: right;
}

/*------------------------------*/

.carousel{
  width: 100%;
  height: 50vh;
  overflow: hidden;
  
  &__prev, &__next{
    cursor: pointer;
    position: absolute;
    background: rgba(0,0,0,.6);
    font-size: 32px;
    color: white;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    top: 50%;
    margin-top: -30px;
    z-index: 1000;
  }
  
  &__prev{
    left: 40px;
  }
  
  &__next{
    right: 40px;
  }
  
  &__slide{
    width: 100%;
    height: 100%;
    
    div{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
    background-repeat: no-repeat;
    }
  }
}

.translate-enter {
  transform: translateX(100vw);
}

.translate-enter.translate-enter-active {
  transform: translateX(0);
  transition: all 500ms ease-in-out;
}

.translate-leave {
    transform: translateX(0);
}

.translate-leave.translate-leave-active {
  transform: translateX(-100vw);
  transition: all 500ms ease-in-out;
}

.scale-appear, .blur-appear, .rotate-appear, .translate-appear{
  filter: grayscale(100%);
  transition: all 1000ms ease-in-out;
}

.scale-appear.scale-appear-active, .blur-appear.blur-appear-active, .rotate-appear.rotate-appear-active, .translate-appear.translate-appear-active{
  filter: grayscale(0);
}
.scale-enter {
  transform: scale(1);
}

.scale-enter.scale-enter-active {
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

.scale-leave {
  transform: scale(1);
  opacity: 1;
}


.overAll {
  position: relative;
}

.image {
  position: absolute;
}

.scale-leave.scale-leave-active {
  transform: scale(1.2);
  opacity: .01;
  transition: all 500ms ease-in-out;
}

.blur-enter {
  transform: scale(1);
}

.blur-enter.blur-enter-active {
  transform: scale(1);
  transition: all 500ms ease-in-out;
}

.blur-leave {
  transform: scale(1);
  opacity: 1;
}

.blur-leave.blur-leave-active {
  filter: blur(40px);
  opacity: .01;
  transition: all 500ms ease-in-out;
}

.rotate-enter {
  filter: hue-rotate(-180deg);
  opacity: .01;
}

.rotate-enter.rotate-enter-active {
  filter: hue-rotate(0deg);
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.rotate-leave {
  filter: hue-rotate(0deg);
  opacity: 1;
}

.rotate-leave.rotate-leave-active {
  filter: hue-rotate(180deg);
  opacity: .01;
  transition: all 500ms ease-in-out;
}
/*--------------------------*/

.delete {
  z-index: 1000;
  position: absolute;
  font-size: 32px;
  color: white;
  top: 4%;
  left: 90%;
}

