
.title {
  font-family: 'Kaushan Script', cursive;
  margin: 12px 80px;
}

.container {
  padding: 0;
}

.navbar-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  margin-top: 5px;
}

.navbar-fixed-bottom {
  margin-top: 10px;
}

.navbar-fixed-top {
  margin-top: -10px;
  border-bottom: 1px solid black;
}

.photoCard-container {
  padding: 0;
}

.img-rounded {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 10px;
  margin: 0 -1px;
}

.img-thumbnail {
  width: 100%;
  padding: 0px;
  margin-bottom: 10px;
}

.heart {
  margin: 0 8px 0 10px;
}

.fa-heart {
  color: red;
}

.glyphicon-heart-empty {
  margin-top: -4px;
}

.comments {
  width: 82px;
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: left;
  margin-left: 12px;
}

.likeCaptionComment {
  margin-bottom: 10px;
}

.commentCount {
  margin-left: 12px;
}

.h4-nearby {
  width: 100%;
  height: 16px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
  color: #000000;
  margin-top: 15px;
}

.h6-nearbyPhotoCard {
  height: 14px;
  font-size: 14px;
  text-align: left;
  color: #000000;
  margin: 5px 12px;
}

 .refresh-button, .user-button {
  font-size: 22px;
  margin-top: 26px; 
}

.likes {
  height: 16px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: left;
}

a {
  color: black;
  text-decoration: none !important;
}

.profile {
  float: right;
  margin-right: 10px;
  font-size: 14px;
}

.likes-heart{
  opacity: 0;
  /* padding: 8%; */
  transition: all 0.5s;
  transform : translateX(-25%) translateY(-25%) scale(1.8);
  display : block;
  margin-left: 8%;
  position: relative;
  z-index: 1;
}
 
.like-enter{
  transition: all .2s;
  opacity: 1;  
  /* margin-left: 8%; */
  position: relative;
  z-index: 1;
}
 
.like-enter-active{
  transform : translateX(-25%) translateY(-25%) scale(1.8);
  /* margin-left: 8%;  */
  position: relative;
  z-index: 1;
}
 
.like-leave-active{
  /* margin-left: 8%;  */
  display: none;
  position: relative;
  z-index: 1;
}

.likeDiv {
  display: inline-block;
  position: absolute;
}