* {
  padding: 0;
}

.title {
  font-family: 'Kaushan Script', cursive;
  margin: 12px 80px;
}

.container {
  padding: 0;
}

.navbar-container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.navbar-fixed-top {
  margin-top: -10px;
  border-bottom: 1px solid black;
}

.navbar-fixed-bottom {
  margin-bottom: -10px;
}

.photoCard-container {
  padding: 0;
}

.img-rounded {
  font-size: 18px;
  padding: 0px;
}

.img-thumbnail {
  width: 100%;
  padding: 0px;
  margin-bottom: 10px;
}

.heart {
  margin: 0 10px;
}

.comments {
  font-family: 'Kaushan Script', cursive;
}

.comment {
  float: right;
  margin: 0 10px;
}

h4 {
  margin: 10px;
  font-size: 14px;
}

 .refresh-button, .user-button {
  font-size: 22px;
  margin-top: 28px;
  
}